<div class="form-group">
    <div class="input-group date" id="datetimepicker-{{ param.id }}" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-{{ param.id }}"/>
        <div class="input-group-append" data-target="#datetimepicker-{{ param.id }}" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker-{{ param.id }}').datetimepicker();
        });
    </script>
</div>
