{% if param.type == 'object' %}
    <label class='col-sm-2 col-form-label col-form-label-sm' for="{{"val-"|strcat:param.id}}"
           data-toggle="tooltip" data-placement="top"
           title="{{ param.description }}">{% include 'pipeline/params/param_name.html' %} </label>
    <div class="nested_input">
        {% for param in param.nested %}
            {% include "pipeline/params/param.html" %}
        {% endfor %}
    </div>

{% else %}

    <input type='hidden'
           name="{{"param-"|strcat:param.name}}"
           value="{{param.name}} {{param.id}} {{param.type}}"
           form="form{{pipe.id}}"/>

    <div class="form-group row">
        <label class='col-sm-2 col-form-label col-form-label-sm tool-tip-param-description'
               data-toggle="tooltip" data-placement="bottom"
               title="{{ param.description }}"
               for="{{"val-"|strcat:param.id}}" >
            {% include 'pipeline/params/param_name.html' %}
        </label>
        <div class="col-sm-10">
            {% if param.expression %}
                <div class="input-group">
                  <div class="input-group-prepend">
                      <script>
                          param_id_{{ param.id }} = '{{ param.id }}';
                          param_expression_{{ param.id }} =  '{{ param.expression }}';
                          param_value_{{ param.id }} = '{{ param.value }}'
                      </script>
                      <button class="btn btn-outline-secondary"
                              onclick="toggle_expression(param_id_{{ param.id }},
                                                         param_expression_{{ param.id }},
                                                         param_value_{{ param.id }})"
                              id="expression-{{param.id}}" aria-pressed = 'false'
                              role="button"
                              type="button">$</button>
                  </div>
                    {% include  'pipeline/params/param_switch_types.html' %}
                </div>
            {% else %}
                {% include  'pipeline/params/param_switch_types.html' %}
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
         <label class='col-sm-2'></label>
         <div class='col-sm-10'>
             <div id="error-container-{{param.id}}"></div>
         </div>
     </div>

{#    <div class="row">#}
{#        <div class="col-2">#}
{#        </div>#}
{#        <div class="col-10">#}
{#         {% if param.options != None or param.type != 'boolean' %}#}
{#            {% if param.example %}#}
{#               <small class="form-text text-muted" id="{{"example-"|strcat:param.id}}">{{ param.example|strip_double_quotes }}</small>#}
{#            {% endif %}#}
{#         {% endif %}#}
{#        </div>#}
{#    </div>#}

{% endif %}