{% extends "base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'browser/detailed.css' %}" />

    <div class="container">
       <h1>{{object.name}}</h1>
       <p>{{ object.description|linebreaksbr}}</p>
       <p>{{ object.url}}</p>
       {% for request in object.request_set.all %}
           <div class="request grid-container">
                <div class="grid-item request-type {{ request.type }}">
                    <a href="{% url 'browser:request' request.pk %}">{{ request.type }}</a>
                </div>
                <div class="grid-item request-name">{{ request.name }}</div>
            </div>
       {% endfor %}
   </div>
{% endblock %}