{% extends "base.html" %}
{% load static %}

{% block content %}

    {% load app_filters %}

    <link rel="stylesheet" type="text/css" href="{% static 'browser/detailed.css' %}" />

    <div class="container">


        <div class="grid-item request-type {{ request.type }}">{{ request.type }}</div>
        <div class="grid-item request-name">{{ request.name }}</div>
        {% if request.description %}
            <div class="grid-item request-description">{{ request.description|linebreaksbr }}</div>
        {% endif %}

        <div class="parameters_section_heading">Input parameters:</div>
        <div class="requests grid-container">
            {% include 'browser/parameters.html' %}
        </div>

        <div class="response_section_heading">Responses</div>

        <div class="responses grid-container">
            {% for response in responses%}
                <div class="response">
                    <p>status code: {{ response.status_code }}</p>
                    <p> description: {{ response.description|linebreaksbr }}</p>
                    {% if response.parameters %}
                        <p>Response parameters:</p>
                        <div class="response_params">
                            {% with response.parameters as parameters %}
                                {% include 'browser/parameters.html' %}
                        {% endwith %}
                          </div>
                    {% endif %}
                </div>
                {% if forloop.last == False %}
                       <hr/>
                   {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}