{% extends "base.html" %}
{% load static %}

{% block content %}

    {% load app_filters %}

    <link rel="stylesheet" type="text/css" href="{% static 'browser/detailed.css' %}" />

    <div class="container">
        <div class="request grid-container">
           <div class="grid-item request-type {{ request.type }}">{{ request.type }}</div>
           <div class="grid-item request-name">{{ request.name }}</div>
            <div class ="grid-item">parameters: {{request.parameters|json}}</div>
   </div>

   <p>{{ request.request_description|linebreaksbr}}</p>

   </div>

{% endblock %}çpy