{% extends 'base.html' %}

{% block content %}
    <div class="signup">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                    <p style="color:red;">{{ error|safe }}</p>
                {% endfor %}
                </div>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
    </div>
{% endblock %}