
.input {
    border: 1px solid #e0dbe3;
    margin-bottom: 4px;
    min-height: 100px;
    padding-left: 0;
    padding-right: 0;
}

.input textarea {
   resize: none;
    width: 100%;
    border:None;
}

.input form {

    margin-bottom: 0;
}

.input button {
    border-top: 1px solid #0000003d;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%
}

.row {
    margin:0px;
}

.pipe {
    margin-left:10px;
    margin-right:10px;
}

.edit_pipe {
    width: 100%;
    text-align: center;
}

.edit_pipe_container {
    position:relative;
    margin-bottom:10px;
}

.edit_pipe_container button {
    margin-bottom:10px;
}

.dropdown-toggle::after  { content:none; }

.dropdown.dropdown-center {
  display: inline-block;
  width: 180px;
}
.dropdown-menu.dropdown-menu-center {
  text-align: center;
  width: 180px;
}

.input_field {
    display:inline-block;
    margin: 10px;
}

.input_fields {
    position: relative;
     text-align: center;
}

.input_row {
    position: relative;
     text-align: center;
}

.output {
    min-height: 100px;
}

.time-run {
    text-align: center;
    color: #909090;
}

.time-received {
    text-align: center;
    color: #909090;
}

.white-board {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.white-board-back {
    background-color: #909090;
    padding-top: 5px;
}