.input {
    border: 2px solid #e0dbe3;
    margin-bottom: 4px;
    min-height: 100px;
    padding-left: 0;
    padding-right: 0;
}

.input textarea {
   resize: none;
    width: 100%;
    border:None;
}

.input form {

    margin-bottom: 0;
}

.input button {
    border-top: 1px solid #0000003d;
    width: 100%
}

.input_field {
    float:left;
    display:inline-block;
    margin: 10px;
}

.input_fields {
    position: relative;
     text-align: center;
}

.input_row {
    position: relative;
     text-align: center;
}

.output {
    min-height: 100px;
}

.time-run {
    text-align: center;
    color: #909090;
}

.time-received {
    text-align: center;
    color: #909090;
}

.input-output-container {
    margin-bottom: 20px;
}

.white-board {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}


.white-board-back {
    background-color: #909090;
    padding-top: 5px;
}