{% load app_filters %}
{% load static %}
<div class="row">
        <div class="col-xs-1 col-sm-1">{{ pipe.pk }}</div>
        <div class="col-xs-11 col-sm-11 input">
                <script>
                      var form_id = {{'form'|strcat:pipe.id|js}};
                      var pipe_id = {{pipe.id|js}};
                      var host = '{{pipe.request.component.host}}';
                      var base_path = '{{pipe.request.component.base_path}}';
                      var request_path = '{{pipe.request.path}}';
                      request_path = request_path.slice(1);
                      var request_name = '{{pipe.request.name}}';

                      var rest_url = '{% url 'rest:request' %}';
                      request_url = host+base_path+request_path+'/'+request_name;
                      request_type = {{pipe.request.type|js}};
                      input_url = '{% url 'pipeline:input' %}';
                      output_url = '{% url 'pipeline:output' %}';
               </script>

            <div class="request-name">
                {{ pipe.request.component.name}}/{{pipe.request.name}}
            </div>
            <form id="form{{pipe.id}}" onsubmit="">
                    {% csrf_token %}
                <div class="input_fields">
                    {% for key, val in pipe.parameters.items %}
                        {% if val|is_pickle_rick %}
                            <div class= "input_field"><label>{{ key }}: <input type="text"  name={{"param-"|strcat:key}} value="{{val|json_dumps}}" form="form{{pipe.id}}" /> </label> </div>
                        {% else %}
                            <div class= "input_field"><label>{{ key }}: <input type="text"  name={{"param-"|strcat:key}} value="{{val}}" form="form{{pipe.id}}"/> </label> </div>
                        {% endif %}
                        <input type='hidden' name={{"type-"|strcat:key}}  value="{{pipe.request.parameters|get_item:key}}" form="form{{pipe.id}}" />
                    {% endfor %}
                </div>
                <input type='hidden' name="pipe_id" value="{{ pipe.pk }}" />
                <script>
                    run_form(form_id, pipe_id, rest_url, request_type, request_url, input_url, output_url)
                </script>
                <button class="btn btn-outline-secondary" name="run" type="submit" value="run">run</button>
            </form>
        </div>
</div>
<div class="time-run">Run at: {{ pipe.run_time }}</div>