{% load app_filters %}
{% load static %}
<div class="row param-row">
        <div class="col-xs-1 col-sm-1"></div>
        <div class="col-xs-11 col-sm-11 input">

            <div class="request-name">
                <label class="tool-tip-request-description"  data-toggle="tooltip" data-placement="bottom" title="{{ pipe.request.description}}">
                    {{ pipe.request.component.name}}/{{pipe.request.name}}
                </label>
            </div>
            <script>
                     var form_id = {{'form'|strcat:pipe.id|js}};
                     var pipe_id = {{pipe.id|js}};
                     $(function () {
                       $('[data-toggle="tooltip"]').tooltip()
                     })
              </script>

            <form id="form{{pipe.id}}" onsubmit="" data-parsley-validate="">
                    {% csrf_token %}
                <div class="input_fields">
                    {% for param in pipe.parameters %}
                        {% include 'pipeline/params/param.html' %}
                    {% endfor %}
                </div>
                <input type='hidden' name="pipe_id" value="{{ pipe.id }}" />
                <div class="form-error invalid-form-error-message-{{pipe.id}}"></div>
                <script>
                        run_form(form_id, pipe_id)
                </script>
                <button class="btn btn-outline-secondary run-button" name="run" type="submit" value="run">run</button>
            </form>
        </div>
</div>

{% if pipe.run_time != None %}
    <div class="time-run">Run at: {{ pipe.run_time }}</div>
{% endif %}