{% load app_filters %}
<div class="pipe row">
        <div class="col-xs-1 col-sm-1">{{ pipe.pk }}</div>
        <div class="col-xs-11 col-sm-11 input">

            <form class="form{{pipe.id}}" method='POST' action='.'
                  data-url='{{ request.build_absolute_uri|safe }}'
                  id={{pipe.id}}>
                    {% csrf_token %}
                <div class="request-name">
                    {{ pipe.request.component.name}}/{{pipe.request.name}}
                </div>
                <div class="input_fields">
                    {% for key, val in pipe.parameters.items %}
                        {% if val|is_pickle_rick %}
                            <div class= "input_field"><label>{{ key }}: <input type="text"  name={{"param-"|strcat:key}} value="{{val|json_dumps}}" form={{pipe.id}} /> </label> </div>
                        {% else %}
                            <div class= "input_field"><label>{{ key }}: <input type="text"  name={{"param-"|strcat:key}} value="{{val}}" form={{pipe.id}} /> </label> </div>
                        {% endif %}
                        <input type='hidden' name={{"type-"|strcat:key}}  value="{{pipe.request.parameters|get_item:key}}" form={{pipe.id}} />
                    {% endfor %}
                </div>
                <input type='hidden' name="pipe_id" value="{{ pipe.pk }}" />
                <button class="btn btn-outline-secondary" name="run" type="submit" value="run">run</button>
            </form>

        </div>
        <div class="time-run">Run at: {{ pipe.run_time }}</div>
</div>