{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'pipeline/new_pipe.css' %}" />

{% if has_requests %}

    <h1>Create pipeline</h1>

    {{ form.media }}
    <div class="form-container">
        <form id="new-pipeline-form" method="POST">
            {% csrf_token %}
            {{ form }}
        </form>
        <input class='btn btn-outline-secondary create-pipe-button' type='submit' value='Create Pipe' form="new-pipeline-form"/>
    </div>

{% else %}

    <div class="no-requests-available">
        <p>There are no requests associated with your account. Please upload a component with requests that can
        be used by a pipeline.</p>
    </div>

{% endif %}

{%  endblock %}