{% if param.type == 'object' %}
    <label class='col-sm-2 col-form-label col-form-label-sm' >{% include 'pipeline/param_name.html' %} </label>

    <div class="nested_input">
        {% for param in param.nested %}
            {% with para=param %}
                {% include "pipeline/param.html" %}
            {% endwith %}
        {% endfor %}
    </div>

{% else %}
    <div class="form-group row">
        <label class='col-sm-2 col-form-label col-form-label-sm' title="{{ param.description }}"
               for="{{"param-"|strcat:param.id}}" >
            {% include 'pipeline/param_name.html' %}
        </label>
        <div class="col-10">
            {% if param.options %}
                <select class="form-control" id="{{"param-"|strcat:param.id}}" name="{{"param-"|strcat:param.name}}"
                        aria-describedby="{{"example-"|strcat:param.id}}" form="form{{pipe.id}}">
                    {% for option in param.options %}
                         <option>{{option}}</option>
                    {% endfor %}
                </select>
            {% elif param.type == 'boolean' %}
                <input type="checkbox" class="form-check-input" id="{{"param-"|strcat:param.id}}" form="form{{pipe.id}}"
                       aria-describedby="{{"example-"|strcat:param.id}}" name="{{"param-"|strcat:param.name}}">
            {% else %}
                <input type="text" id="{{"param-"|strcat:param.id}}"  class="form-control form-control-sm"
                       aria-describedby="{{"example-"|strcat:param.id}}" name="{{"param-"|strcat:param.name}}"
                       value="{% include 'pipeline/param_value.html' %}" form="form{{pipe.id}}"/>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
        {% if param.example %}
           <small class="form-text text-muted" id="{{"example-"|strcat:param.id}}">{{ param.example }}</small>
        {% endif %}
        </div>
    </div>

    <input type='hidden' name={{"type-"|strcat:param.name}}  value="{{param.type}}" form="form{{pipe.id}}" />
    <input type='hidden' name={{"id-"|strcat:param.name}}  value="{{param.id}}" form="form{{pipe.id}}" />
{% endif %}