{% extends "base.html" %}
{% load static %}
{% block content %}

    <script type="text/javascript" src="{% static 'pipeline/run_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'pipeline/pipeline.js' %}"></script>
    <script type="text/javascript" src="{% static 'pipeline/parsley.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pipeline/custom_parsley_validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'pipeline/moment.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'pipeline/pipeline.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pipeline/validation.css' %}" />
    {% load app_filters %}
    <div class="white-board-back">
        <div class="white-board">
            <div class="pipeline-details" id="pipeline-details">
                <h1>{{pipeline.name}}</h1>
                <p>{{pipeline.description|linebreaksbr}}</p>
            </div>
                {% for pipe in pipes %}
                    {% include 'pipeline/input_output.html' %}
                {% empty %}
                    {% include 'pipeline/empty_pipeline.html' %}
                {% endfor %}
        </div>
    </div>
{% endblock %}

