{% load staticfiles %}

<script type="text/javascript" src="{% static 'jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'tether.min.js' %}"></script>
<script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />


{# Make sure to load our css after bootstrap to enable overriding. #}
<link rel="stylesheet" type="text/css" href="{% static 'common.css' %}" />

<body>
    <div class="page-header">
        Penelope
    </div>

    {% block content %}
    {% endblock %}

    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    {% block javascript %}
    {% endblock %}

    <div class="page-footer">
           Developed as part of the <a href="https://www.odycceus.eu/">ODYCCEUS</a> project.
   </div>
</body>

