{% load staticfiles %}

<header>
 <!-- Fixed navbar -->
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-default">
   <h1 class="navbar-brand" href="#">Penelope</h1>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="{% url 'home:home' %}">home <span class="sr-only">(current)</span></a>
       </li>
     </ul>
   </div>
   <div class="login-logout-nav">
     {% if user.is_authenticated %}
        <p> Logged in as {{ user.username }} / </p> <a href="{% url 'logout' %}">Logout?</a>
      {% else %}
         <a href="{% url 'login' %}">login</a> <p>/</p> <a href="{% url 'accounts:signup' %}">signup</a>
      {% endif %}
   </div>
 </nav>
</header>

<body>
    <div class="container">


        <script type="text/javascript" src="{% static 'jquery-3.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'tether.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>


        {# Make sure to load our css after bootstrap to enable overriding. #}
        <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'accounts.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />


    {% block content %}

    {% endblock %}
    </div>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    {% block javascript %}
    {% endblock %}

    <div class="footer">
           Developed as part of the <a href="https://www.odycceus.eu/">ODYCCEUS</a> project.
   </div>
</body>

