.home-menu {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.outer{
    width:42%;
    height:400px;
    margin:20px;
    border:1px solid #393939;
    float: left;
    color: #e9e4e7;
    transition: background-color 0.5s ease;
    border-radius: 20px;
    background-color: #707e85;
    position: relative;
    text-align: center;

  }

h1 {
    font-size: 0.3em;
}

img{
    height: 100%; width: 100%; object-fit: contain
}

a.home-link {
    text-decoration: none;
    color:inherit;
}

a:hover{
    color:inherit;
}
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.inner > h1 > a {
    color: #a4b4bf;
}


.outer:hover {
    background-color: #83939e;
    color: #ffffff;

}